#buttonLinks {
	border: double;
	background-color: #C0C0C0;
    position: absolute;
    height: 200px;
   	width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}
#buttons {
	height: 50%;
    width: 70%;
    margin-top: 40%
    padding: 1px;
}